/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.jpg
*.mp4
*.png
*.jpeg
*.mp4
*.mp4
public/images/221563803450.jfif
public/images/overview/0221563634727.jfif
public/images/overview/0221563810905.webp
public/images/product/product221563634686.jfif
public/images/product/productcolor221563634698.jfif
public/videos/upload/151555573815.gif
public/videos/upload/151555573815.mp4
public/videos/upload/1515555α73815.gif
public/videos/upload/151555b573815.gif
public/videos/upload/555573815.svg
public/videos/upload/151555573815.mp4
